/* Navber */
.navbar {
	z-index: 1;
}

.navbar-brand {
	font-family: 'rock salt', cursive;
	font-size: 32px;
}

.navbar-brand, .nav-link {
	color: black !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}



/* Parallax */
.parallax .display-4 {
	color: white;
	margin-top: 10px;
	font-weight: 200;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
	font-size: 40px;
	margin-bottom: 30px;
	font-family: 'Marcellus SC', serif;
}

.parallax h2 {
	color: white !important;
}

.parallax img {
	margin-top: 25px;
	width: 150px;
}

.parallax .container {
	position: relative;
}
.parallax {
  /* The image used */
  background-image: url("../aset/img/2.jpg");

  /* Set a specific height */
  min-height: 250px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




/* Skills */
.skill h2 {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}


/* Footer */
.footer {
	margin-top: -48px;
}


/* fORM */
.form-group {
	color: white !important;
}




/* Dekstop Version */
@media (min-width: 992px) {
.navbar-brand, .nav-link {
	color: white !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
	}


.navbar {
	background: rgba(0, 0, 0, 1);
	height: 60px;
	position: fixed;
	width: 100%;
}


.nav-link {
	text-transform: uppercase;
	margin-right: 10px;
	color: white !important;
}


.nav-link:hover {
	color: white;
	font-size: 20px;
	margin: auto;
	padding-bottom: 2px;
	margin-bottom: 1px;
}


.parallax {
  /* The image used */
  background-image: url("../aset/img/2.jpg");

  /* Set a specific height */
  min-height: 100px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax img {
	width: 200px;
	margin-top: 100px;
}


.Portofolio h2 {
	color: white !important;
}


.display-4 {
	padding-bottom: 30px;
}


.skill h2 {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}


.media-body {
	margin-bottom: 30px;
}


.footer {
	margin-top: -48px;
	background-color: black !important;
}
}